<h1>Olá!</h1>

<div class="row">
  <div class="col-sm-12">
    <form id="add-form" (ngSubmit)="buscarDivisores()" novalidate>
      <div class="row">
        <div class="form-group">
          <label for="numero">Entre com um número:</label>
          <input type="number" min="1" [(ngModel)]="numero" id="numero" name="numero" required class="form-control">
        </div>
      </div>
      <div class="row">
        <button type="submit" class="btn btn-primary">Buscar Divisores</button>
      </div>
      <div class="row" *ngIf="divisores && divisores.length > 0">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Divisores:</label>
            <textarea class="form-control" rows="5" cols="120" [(ngModel)]="divString" name="divString" disabled></textarea>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="divPrimos && divPrimos.length > 0">
        <div class="col-sm-12">
          <div class="form-group">
            <label>Divisores Primos:</label>
            <textarea class="form-control" rows="5" cols="120" [(ngModel)]="primoString" name="primoString" disabled></textarea>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>